@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("normalize.css");
@import url("fontello.css");
*, *::before, *::after{
  box-sizing: border-box; 
}
/* css rest */
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
/* css rest */
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* css rest */
a{
  color: inherit;
  text-decoration: none;
}
/* hidden contents for navigation menu */
/* When I want to hide contents on a page,
    I could use 'display: none'. But, it means that I've made the contents 'inaccesible' by screen reader.
    Because I need to consider web accessibility, 'readable-hidden' class should position the content off screen,
    which still leaves it screen reader accessible.
    To do that, use 'position: absolute' and 'left: -9999em;'

    reference: https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
*/
.readable-hidden, legend{
  /* background-color: darkkhaki; */
  color: red;
  position: absolute;
  /* left: -9999em; */
  /* Another way to hide contents on a page */
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  margin: -1px;
  overflow: hidden;
}
/* This feature(Another way) has been removed from the Web standards. 
Though some browsers may still support it, 
it is in the process of being dropped. 
Avoid using it and update existing code if possible;  */


html{
  font-size: 10px;
}
body{
  background-color: #fff;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans';
  margin: 0;
}
/* layout */
.wrapper{
  background-color: yellow;
  background-image: url("images/bg_flower.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
.header{
  background-color: pink;
  padding: 0 30px 40px;
  position: relative;
  border-radius: 0 0 15px 15px;
}
.logo{
  position: absolute;
  top: 45px;
  left: 65px;

}
/* member layout using display */
.member{
  background-color: skyblue;
  /* #2: move text from left to right */
  text-align: right;
  /* #3: change padding size */
  padding: 10px 0;
  font-size: 0;
  position: relative;
  right: -10px;
}
.member li{
  /* #1: vertical member -> horizontal member using display: inline-block */
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  /* padding: 5px 10px; */
}
/* #4: add ':' before each 'li' from second 'li' */
.member li:nth-child(n+2)::before{
  content: ":";
}
/* #5: change padding size  */
.member a{
  padding: 5px 10px;
}
/* main menu */
.menu{
  background: linear-gradient(to bottom, #ea892e 0%, #ce5327 35%, #ce5327 65%, #ea892e 100%);
  background-color: #ce5327;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  padding-left: 225px;
  height: 47px;
}
.menu-item{
  float: left;
  position: relative;
}
.menu-item-text{
  line-height: 45px;
  border-left: 2px solid rgba(255,255,255,.5);
  display: block;
  padding: 0 20px;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-item-text:hover::after{
  content: "";
  background-color: #000;
  display: block;
  height: 2px;
}
.menu-item-text:hover{
  color: #ff0;
  cursor: pointer;
}
.sub-menu{
  background-color: pink;
  display: none;
  position: absolute;
  top: 47px;
  left: 0;
  white-space: nowrap;
}
.sub-menu li{
  display: inline-block;
}
.sub-menu a{
  display: inline-block;
  padding: 8px 5px 10px 0;
  margin-right: 10px;
}
/* Add font icon infront of <a> tag using fontello */
.sub-menu a::before{
  font-family: "fontello";
  content: '\f192';
}
.sub-menu a:hover::before{
  content: '\e800';
}
.menu-item:nth-child(1) .sub-menu{
  left: 0;
}
.menu-item:nth-child(2) .sub-menu{
  left: 0;
}
.menu-item:nth-child(3) .sub-menu{
  left: 0;
}
.menu-item:nth-child(4) .sub-menu{
  right: 0;
}
.menu-item:nth-child(5) .sub-menu{
  right: 0;
}
.menu-item:nth-child(6) .sub-menu{
  right: 0;
}
/* animation for visual */
@keyframes flowerAni{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgb(0,0,0,0);
    transform: translate(0,0);
    opacity: 1;
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,0);
    transform: translate(400px, 75px);
    opacity: 1;
  }
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: flowerAni 2s infinite alternate;
}
.visual::before{
  background: url("images/ani_flower_01.png") no-repeat 0 -15px, url("images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after{
  animation-delay: 1s;
  background: url("images/ani_flower_03.png") no-repeat 300px 0, url("images/ani_flower_04.png") no-repeat 800px 0;
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  position: relative;
  z-index: 10;
  opacity: 1;
  animation: textAni 5000ms forwards 3 alternate ease-in-out 2s;
}
.main{
  background-color: skyblue;
  padding: 30px 0;
  border-radius: 15px 15px 0 0;
  /* flex: #1 */
  /* Should add 'display: flex' to parent(flex-container) of child element(flex-item) in order to layout flex-item */
  display: flex;
  /* flex: #2 */
  justify-content: space-evenly;
}
/* float: #2 */
/* Add empty content after group3(last child of main) to maintain the size of main using ::after(pseudo-element) */
/* .clearfix::after{
  content: "";
  background-color: black;
  color: white;
  clear: both;
  display: block;
} */
.group{
  /* float: #1 */
  /* float: left; */
  margin: 0 15px;
  height: 20vh;
}
.group1{
  background-color: green;
  width: 250px;
  /* background-color: rgba(255,255,255,.5); */
}
.group2{
  background-color: red;
  width: 380px;
  /* background-color: hsla(120,70%,60%,0.5); */
}
.group3{
  background-color: peru;
  width: 190px;
}
/* login */
.login{
  background: radial-gradient(circle at right top, #ea892e, #ce5327);
  background-color: #ce5327;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #aaa;
}
.login-heading{
  color: #ff0;
  font-size: 1.5rem;
}
.login-form{
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
  margin-top: 10;
}
.login-form fieldset{
  margin: 0;
  padding: 0 0 10px 0;
  border: 0;
  border-bottom: 1px solid #aaa;
  position: relative;
}
.login-form [type="email"], .login-form [type="password"]{
  width: 100px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.user-id{
  margin-bottom: 6px;
}
.login-form [for="user-id"], .login-form [for="user-pw"]{
  width: 4em;
  display: inline-block;
}
/* login button layout using position absolute */
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: #ce5327;
  color: #fff;
  font: inherit;
}
/* sign layout using flex */
.sign{
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.sign a{
  letter-spacing: -1px;
  padding: 5px 0;
}
.sign .icon-right-open::before{
  color: #ce5327;
}
/* validation banner */
.validation-list{
  margin-top: 25px;
}
.validation-list{
  margin: 10px 0;
}
.validation-list a{
  background: url("images/validation_icon.png") no-repeat 15px 50%, linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  display: block;
  border: 1px solid #aaa;
  border-radius: 15px;
  line-height: 30px;
  padding-left: 45px;
}
/* term */
.term{
  background: linear-gradient(to bottom, #eee, #ccc);
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
.term-heading{
  font-size: 1.5rem;
}
.term-list{
  margin: 10px 0 0;
}
.term-list-subject{
  color: #296897;
}
.term-list-subject, .term-list-brief{
  float: right;
  width: 145px;
}
.term-list-thumbnail{
  margin: 0;
  float: left;
}
.term-list-thumbnail img{
  display: block;
}
.term-list-brief{
  margin: 0;
  margin-top: 5px;
  line-height: 1.5;
}
.term-list::after{
  content: "";
  clear: both;
  display: block;
}
/* search form */
.search-form{
  background: linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
}
.search-form fieldset{
  margin: 0;
  padding: 0;
  border: 0;
}
.search-form-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-form [type="search"]{
  width: 200px;
  height: 24px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 5px;
}
.btn-search{
  background: #333;
  color: #fff;
  font: inherit;
  padding: 0 10px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #aaa;
}
/* notice and pds */
.board{
  margin-top: 20px;
  position: relative;
}
.tab{
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom, #eee, #ccc);
  background-color: #ccc;
  color: #666;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 10px;
  position: absolute;
  top: 0;
}
.pds-heading{
  left: 73px;
}
.is-act .tab{
  background: #fff;
  border-color: #ce5327 #ce5327 #fff #ce5327;
  color: #ce5327;
}
.notice-list, .notice-more, .pds-list, .pds-more{
  display: none;
}
.is-act .notice-list, .is-act .notice-more,
.is-act .pds-list, .is-act .pds-more{
  display: block;
}
.notice-list, .pds-list{
  padding-top: 45px;
}
.notice-list li, .pds-list li{
  margin-bottom: 10px;
}
.notice-list li::after, .pds-list li::after{
  content: "";
  display: block;
  clear: both;
}
.notice-list li::before, .pds-list li::before{
  float: left;
  margin-top: 2px;
}
.notice-list a, .pds-list a{
  float: left;
  width: calc(100% - 105px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-list time, .pds-list time{
  float: right;
  margin-left: auto;
}
.notice-more::before, .pds-more::before{
  color: hsla(110, 40%,30%,1);
}
.notice-more, .pds-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
/* news */
.news{
  margin-top: 20px;
  position: relative;
}
.news::before{
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  height: 1px;
  width: 80%;
  background: linear-gradient(to right, #aaa, #fff);
}
.news-heading{
  font-size: 1.5rem;
  color: #ce5327;
}
.news-link{
  display: block;
  outline-offset: 5px;
}
.news-item{
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
  min-height: 105px;
}
.news-item-heading{
  font-size: 1.4rem;
}
.news-item-thumbnail{
  position: absolute;
  top: 2px;
  left: 0;
  margin: 0;
  text-align: center;
}
.news-item-thumbnail img{
  margin-bottom: 15px;
  box-shadow: 0 10px 15px 5px #aaa;
}
.news-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.news-more::before{
  color: hsla(110, 40%, 30%, 1);
}
/* event-related */
.event-realted{
  background: yellow;
}
/* favorite */
.favorite{
  background: pink;
  margin-top: 20px;
}
/* slogan */
.slogan{
  background-color: blueviolet;
  height: 10vh;
}
/* Even thought I set margin '0' for each element(header,visual,main,slogan,footer),
  there was margin(gap) about 19px from slogan-heading when I checked it on chrome browser.
  So, I needed to set margin '0' for slogan-heading so that I can fill the gap between slogan-heading and main.
  If there are issues about margin, padding, border, etc after I did css perfectly without error,
  go to the webpage, and 'inspect' to see if there is margin, padding, border, etc, so I could find what's different from what I wrote.
*/
.slogan-heading{
  margin: 0;
}
.footer-bg{
  background-color: orange;
}
.footer{
  background-color: silver;
  height: 10vh;
}